# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Local config

# Byte-compiled / optimized / DLL files
build/
dist/
*.spec

# Logs
logs/
*.log


